---
import { Image } from "astro:assets";
import ogs from "open-graph-scraper";
export interface Props {
  url: string;
}
const { url } = Astro.props;

async function getOpenGraphData(url: string) {
  try {
    const { result } = await ogs({ url });
    return result;
  } catch (error) {
    console.error("Error fetching Open Graph data:", error);
    return null;
  }
}

const webSiteData = await getOpenGraphData(url);
const title = webSiteData?.ogTitle || "No Title Found";
let description = webSiteData?.ogDescription || "No Description Found";
const image = webSiteData?.ogImage?.[0]?.url || null;
const domain = new URL(url).hostname.replace("www.", "");
---

<a
  href={url}
  class="not-prose card card-side h-24 w-full bg-base-100 shadow-md card-xs hover:opacity-70"
  target="_blank"
  rel="noopener noreferrer"
>
  <figure class="h-full w-32 flex-shrink-0 overflow-hidden">
    {
      image ? (
        <img src={image} alt={title} class="h-full w-full object-cover" />
      ) : null
    }
  </figure>
  <div class="card-body w-[calc(100%-128px)]">
    <h2 class="w-full truncate text-base font-semibold">{title}</h2>
    <p class="w-full truncate text-xs">
      {description}
    </p>
    <p class="text-xs text-primary underline">{domain}</p>
  </div>
</a>
