---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Prose from "../components/Prose.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title}>
  <article>
    <div class="my-4 flex flex-col gap-4">
      <div class="hero-image overflow-hidden rounded-xl">
        {
          heroImage && (
            <Image
              width={720}
              height={360}
              src={heroImage}
              alt="記事サムネイル"
              class="h-auto w-full"
            />
          )
        }
      </div>
      <div class="text-center">
        <div class="flex flex-col gap-1 lg:gap-2">
          <h1 class="text-2xl font-bold text-primary lg:text-4xl">{title}</h1>
          <div
            class="flex items-center gap-4 text-sm text-neutral-content lg:text-base"
          >
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="text-xs opacity-75 lg:text-sm">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <hr class="border-dashed border-primary" />
        </div>
      </div>
    </div>

    <Prose>
      <slot />
    </Prose>
  </article>
</BaseLayout>
